<h1> sellers Home page </h1>
<% if @user %>
    Logged in as: <%= @user.email %>
    <%= button_to "Logout", sellers_logout_path, method: :delete, class: "btn btn-primary"%>
<%end%>

<div class="para2-create-user" style="background-color : white;">
    <div class=signup-user>
    <h1 style="color: rgb(182, 62, 203)"> ADD items </h1>
    <%= form_with model: @item, url: additems_path do |form| %>
      <% if @checker==false %>
         <div style="background-color: red; height:50px;"><h5>error please check your fields</h5></div>
      <%end%>
      <div class="mb-3">
      <%= form.label :item_name %>
      <%= form.text_field :item_name, class: "form-control" %>
      </div>
      <div class="mb-3">
      <%= form.label :summary %>
      <%= form.text_field :summary, class: "form-control" %>
      </div>
      <div class="mb-3">
      <%= form.label :quantity %>
      <%= form.text_field :quantity, class: "form-control" %>
      </div>
      <div class="mb-3">
      <%= form.label :price %>
      <%= form.text_field :price, class: "form-control" %>
      </div>
    
      <div class="mb-3">
        <%= form.submit "ADD ITEMS", class: "btn btn-primary" %>
        
      </div>
    <% end %>
    </div>
 </div>