<nav class="navbar navbar-expand-lg bg-body-tertiary" style="position:sticky;top:0px;z-index:5000;border-bottom: 5px solid green;">
    <div style="">
      <%= image_tag('logo-final.jpg', alt: 'Example Logo', style: 'height: 60px; width: 90px;') %>
    </div>

    <div class="container-fluid">
      <div class="navbar-brand" style="position:relative;bottom:1px"><%= link_to "HOME", root_path, style: "color: green;font-weight:700; font-size: 20px; padding-left: 15px;text-decoration: underline;position:relative;top:4px" %></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <div class="nav-link active" aria-current="page" style="position:relative; top:3px">
            <%= link_to "OFFERS", offers_path, style: "color: black;font-weight:700; font-size: 20px; padding-left: 15px; text-decoration: none;" %>
            </div>
          </li>
      <li>
      <% if @user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 20px;color: black;margin-left:15px;position:relative;top:3px">
              <b>PROFILE</b>
            </a>
            
              <ul class="dropdown-menu">
              
                <li><a class="dropdown-item" href="#">
                  <% if @user %>
                      <div style="display:flex;flex-direction:row;">
                        <p class="logged-text" style="margin-right:5px;">Login as: </p> <p class="email-log"><%= @user.email %></p>
                      </div>
                  <% else %>
                      <%= link_to "Login", login_path, style: "color: black; font-size: 20px; padding-left: 15px; text-decoration: none;" %>
                      <hr>
                      <%= link_to "Signup", signup_path, style: "color: black; font-size: 20px; padding-left: 15px; text-decoration: none;" %>
                      <hr>
                  <% end %> 
                </a></li>
                <% if @user %>
                  <li class="dropdown-item">
                  <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-primary", style:"background-color:red;margin-bottom:10px;position:absolute;bottom:53px" %>
                  <hr>
                  </li>
                <% end %>
                <li><%= link_to "VIEW PROFILE", profile_path, style: "text-decoration:none;", class:"profile-v" %></li>
              </ul>
              
          </li>
          <% end %>
    </li>
          
          <li class="nav-item" style="position:relative">
            <div class="nav-link active" aria-current="page" style="position:relative;top:3px">
            <%= link_to "CART🛒", carts_path, style: "color: black;font-weight:700; font-size: 20px; padding-left: 15px; text-decoration: none;" %>
            </div>
          </li>
          <% if @user==nil %>
            <li class="nav-item">
              <div class="nav-link active" aria-current="page">
              <%= link_to "Login", login_path, class: "btn btn-primary", style:"background-color:green;" %>
              </div>
              </li>
          <% end %>
          
        </ul>
        
        <div style="display:flex;flex-direction:column;position: absolute; top: 12px; left: 1035px; z-index: 1000;margin-top:10px">
          <%= form_tag('search', method: 'post') do %>
            <div class="d-flex flex-row justify-content-center align-items-center">
              <div class="mr-5" style="width:300px;margin-left:0px">
                <%= text_field_tag 'shop_name', nil, class: 'form-control', placeholder: '🔍 shop and items',oninput: "this.form.requestSubmit()", style:"border: 2px ridge green" %>
              </div>
              
            </div>
          <% end %>
          <div id="search_results" style="background-color:white"></div>
        </div>
        <div style="display:flex;flex-direction:row;position:absolute;left:550px;top:27px;">
          
          <%= link_to image_tag("location_logo.png", alt: "Image Description",style:"height: 30px;", id:"show-location-form")%>
          <%if session[:city] && session[:area]%>
            <div style="color: #3a3d3a; font-style: italic;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><%= "#{session[:area]}, #{session[:city]}" %></div>
          <%end%>
          
        </div>


      </div>
    </div>
    
  </nav>




<div class="flex-container" style="margin-top: 100px">
  <% @items.each do |item| %>
    <div class="card" style="margin-right: 40px; margin-left: 75px; margin-bottom: 40px;border-radius: 10px;">
      <% if item.image.present? %>
          <%= image_tag(item.image, style: "width: 300px; height: 250px") %>
      <% end %>
      <h1 class="second-one-div"><%= item.item_name %></h1>
      <p class="second-one-div"><%=@rating_map[(item.id).to_s] %>⭐</p>
      <p class="first-one-div">₹<%= item.price %></p>
      <p class="price">Remaining: <%= item.quantity %></p>
      <%= form_tag({ controller: "items", action: "cart", method: "post" }) do %>
        <%= hidden_field_tag :item_id, item.id %>
        <%= label_tag :quantity, "Quantity:" %>
        <%= number_field_tag :quantity, 1, min: 1, max: item.quantity, style: "border-radius: 10px; border: 2px solid lightgreen;" %>
        <%= submit_tag "Add to Cart", class: "add-to-cart-button btn btn-primary", style: "margin-bottom:12px" %>
      <% end %>
    </div>
  <% end %>
</div>
