<div style="display: flex;flex-direction:column;align-items: center;margin-bottom:50px;background-color: rgb(197, 154, 236);"><h1>PLACE YOUR ORDER🚚</h1></div>
<div style="margin-left: 2px;width: fit-content;font-family: Arial, sans-serif; font-size: 25px; color: #333; padding: 10px;background-color:rgb(133, 133, 225)">
  <% if @user %>
    Your address: <%= @user.address %>
  <%end%>
</div>
<% order_details="" %>
<div style="display: flex;flex-direction: column;align-items: center;margin-top: 50px;">
    <h2 style="color:green">ORDER SUMMARY</h2>
    <%if @items %>
        <% @items.each do |item| %>
            <div style="margin-bottom: 10px;"><h5><%= item.item_name %> x<%= @data[item.id.to_s]%>= ₹<%=(item.price.to_i)*(@data[item.id.to_s].to_i) %> </h5></div>
            <% order_details += "item_id: #{item.id}, item_name: #{item.item_name}, item_quantity: #{@data[item.id.to_s].to_i}, item_price: #{item.price.to_i} " %>
            <% order_details += "<br>"%>
        <%end%>
    <%end%>
    <h3>Total Amount:   ₹<%= @total_amount %> </h3>
    <% order_details+= "total_amount: #{@total_amount}" %>
    <% if @order %>
        <%= form_for(@order, url: orders_path, method: :post) do |f| %>
            <%= f.hidden_field :order_details, value: order_details %>
            <%= f.hidden_field :shop_id, value: @shop_id %>
            <%= f.hidden_field :seller_id, value: @seller_id %>
            <%= f.hidden_field :payment_check, value: true %>
            <%= f.hidden_field :amount, value: @total_amount %>

            <%= f.submit "Submit Order", class: "btn btn-primary" %>
        <% end %>
    <% end %>

<div>


